

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Browse Glyphs</h1>
        <p>Peruse hottest SBOL glyphs here!</p>
    </div>



    <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">

    <button type="button" class="btn btn-success">Rate Up</button>

    <button type="button" class="btn btn-danger">Rate Down</button>

    <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">

    <button type="button" class="btn btn-success">Rate Up</button>

    <button type="button" class="btn btn-danger">Rate Down</button>

    <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">

    <button type="button" class="btn btn-success">Rate Up</button>

    <button type="button" class="btn btn-danger">Rate Down</button>

    <img data-src="holder.js/200x200" class="img-thumbnail" alt="A generic square placeholder image with a white border around it, making it resemble a photograph taken with an old instant camera">

    <button type="button" class="btn btn-success">Rate Up</button>

    <button type="button" class="btn btn-danger">Rate Down</button>

    <button type="button" class="btn btn-sm btn-default">&lt&lt Previous Page</button>

    <button type="button" class="btn btn-sm btn-default">Next Page &gt&gt</button>

    <div class="well">
        <p>Open Source License. IP stuff. Etc.</p>
    </div>


</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/docs.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

